<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>队列同步作业模板</title>
    </head>
    <body>
        <form action="/finish" enctype="multipart/form-data" method="post">
	        <tr>数据库链接信息：</tr>
	<ul>
       	{% for item in connect_items %}
        <li>{{ escape(item) }}</li>
	{% end %}</ul>
	需要同步的原表和目标表信息：<br>
	FROM {{from_table}} TO {{to_table}}<br>
	from_table:
	<ul>
	       	{% for item in from_table_items %}
        <li>{{ escape(item) }}</li>
	{% end %}</ul>
	to_table:
	<ul>
	       	{% for item in to_table_items %}
        <li>{{ escape(item) }}</li>
	{% end %}</ul>
	同步字段：<br>
	{{from_table}}(from_table):{{from_table_sys}}
<br>
	{{to_table}}(to_table):{{to_table_sys}}
	<br>
	<input type="submit" value="完成">
        </form>
    </body>
</html>
